$color--black: rgba(0, 0, 0, 1);
$color--white: rgba(255, 255, 255, 1);

$color--gold: #C49842;
$color--gold--light: #EAD094;

$color--maroon: #451522;
$color--maroon--light: #381E22;
$color--maroon--dark: #230A09;

$color--green: #548E6F;
$color--green--light: #BBC7A2;
$color--green--hint: #DCE3D3;

$color--card--background: $color--maroon--light;
$color--card--background--hover: $color--green--light;
